extend layout
block extra

block content
    h1= 'Torrentleech Zassysator'
    div(id='main')
        table
            thead
                tr: th Title
                    td Seeds
                    td Url
            tbody
                each id in dataO
                    tr
                        td #{id.title}
                        td #{id.seed}
                        td
                            a(href='#{id.url}', target='_blank') #{id.url}
        form(method="get" action="/tl/del")
            input(type='submit', value='Delete Movies Db', class='but')
        form(method="get" action="/")
            input(type='submit', value='Go Back Home', class='but')