extend layout
block extra

block content
    h1= 'Torrentleech Zassysator'
    //div(id='data', class='invis')= data
    //div(id='test', class='invis')= JSON.stringify(dataO)
    script.
        //var myJ = JSON.parse(data.innerText);
        //var testO = JSON.parse(test.innerText);
    div
        table
            thead
                tr: th Title
                    td Seeds
                    td Url
            tbody
                each id in dataO
                    tr
                        td #{id.title}
                        td #{id.seed}
                        td
                            a(href='#{id.url}', target='_blank') #{id.url}