extend ../layout.jade
block extra
    script(src='../javascripts/basen.js')
block content
    h2 Program Basenowy
    div(id='main-window')
        div(id='liczba-os')
        img(src='../images/faltom-logo.png')
    div(id='footer-window')
        div(id='main')
        table
            colgroup
                col(width="12.5%")
                col(width="12.5%")
                col(width="12.5%")
                col(width="12.5%")
                col(width="12.5%")
                col(width="12.5%")
                col(width="12.5%")
                col(width="12.5%")
                col(width="12.5%")
            thead
                th Id Klienta
                th Data
                th Typ Goscia
                th Operator
                th Numer Pokoju
                th Liczba Os.
                th Godzina Wejscia
                th Godzina Wyjscia
                th Forma Platnosci
            tbody
                each row in dane
                    tr
                        td(class='idklient') #{row.id}
                        td #{row.data}
                        td #{row.typ}
                        td #{row.operator}
                        td #{row.name}
                        td(class='tab-liczba') #{row.liczbaos}
                        td #{row.enter}
                        td #{row.exit}
                        td #{row.formapl}
                        td
                            a(class="cancel" href='http://localhost:8080/del' + row.id)

        div(id='kasa') Gotowka w Kasie:
        div(id='new-client') Nowy Klient
        button(id='addbtn') Dodaj Klienta
        form(id='addform', action='basen/add', method='post')
            input(type='number', name='name', id='numer-pokoju', placeholder='Numer Pokoju')
            //input(id='imie', type='text', name='name', placeholder='Name')
            input(type='text', name='ilosc', placeholder='Prosze Wpisac Liczbe Osob', required)
            select(type='select', name='typ', id='czy_hotelowy', required)
                option(name='hotelowy', id='hotelowy-sel') Hotelowy
                option(name='zewnetrzny') Zewnetrzny
            input(id='operator', type='text', name='operator', class='invis')
            button(type='submit', id='register') Zarejerstruj
        div(id='usun-klienta') Wyrejestruj Klienta
        button(id='addbtn') Wyrejestruj
        form(id='removeform', action='basen/remove', method='post')
            select(type='select', name='klientid', required)
    ul  
        li
            a(href='/', class='but') Home